.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
}

.wrapper > * {
  flex: 1 100%;
}

p {
  font-family: Arial;
}
.header {

}

.footer {
  min-height: 50px;
}

.main {
  text-align: left;
  margin: 20px;
}


.responsive {
  width: 100%;
  height: auto;
  max-width: 1000px;
}

.border{
  background-color: #3D7F2F;
  padding-top: 43px;
  border-radius: 5px;
}

.aside { flex: 1 auto; }

.aside-2 { display: none }

@media all and (min-width: 770px) {
  .main    {
    flex: 3 530px;
    min-width: 530px;
    order: 2;
  }
  .aside-1 {
    order: 1;
    min-width: 220px;
  }
  .aside-2 {
    display: none;
  }
  .footer  { order: 3; }
}

@media all and (min-width: 1010px) {
  .main    {
    display: flex;
    justify-content: space-between;
  }
  .main    {
    order: 2;
  }
  .footer  { order: 4; }

  .main-left {
    max-width: 590px;
    margin-right: 10px;
  }
  .main-right{
    max-width: 590px;
  }
}

@media all and (min-width: 1250px) {
  .wrapper {
    max-width: 1250px;
    justify-content: space-between;
  }
  .main    {
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
  }
  .footer  { order: 4; }
  .main-left {
    max-width: 590px;
  }
  .main-right{
    max-width: 590px;
  }
}


body {
  padding: 0;
  margin: 0;
}